.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
}
.footer-content{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-logo{
    display: flex;
    align-items: flex-start;
    width: 5%;
    height: 5%;
}
ul {
    list-style-type: none;
  }
.content1 {
    color: white;
}
.content2 {
    color: white;
}
.content3 {
    color: white;
}
@media only screen and (max-width: 360px) {
    .content1 .content2 .content3 {
        color: white;
        font-size: 10px;
        text-align: center;
    }
 
}