.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
}
.footer-content{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-logo{
    display: flex;
    align-items: flex-start;
    width: 5%;
    height: 5%;
}
.content{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}
ul {
    list-style-type: none;
  }
.content1 {
    color: white;
}
.content2 {
    color: white;
}
.content3 {
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
  }
  @media only screen and (max-device-width: 900px) {
   .footer{
        height: 500px;
    }
    .footer-content{
        line-height: 1.5;
    }
}
@media only screen and (max-device-width:600px){
    .footer{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .footer-content{
        line-height: 1.5;
    }
}
  
    
