body,html {
    height: 100vh;
    margin: 0;
}
.section1{
    height: 100vh;
    position: relative;
}
.text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 70vw;
    margin-top: 20%;
}
.c-hero__scroll {
    display: flex;
    width: 60vw;
    justify-content: space-around;
    color:#fff;
}
.background-video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
h1 {
    color: white;
    text-align: left;
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 57px;
}
 .header-logo{     
     width: 20%;
     height: 20%;
 }
a{
   text-decoration: none;
   color: white;
}
.nav-bar{
    position: relative;
    top:50px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-items {    
    display: flex;
    flex-direction: row;   
}
.nav-link {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;

}
/* .c-hero__scroll {
    margin-left: 20%;
    display: block;
    font-size: 1rem;
    color:#fff;
} */

@media only screen and (max-width: 360px) {
    .section1 h1 {
        color: white;
        font-size: 40px;
        text-align: center;
    }
}