.section1{
    width: 100vw;
    height: 100vh;
    background-image: url("../Assests/press/img1.jpg");
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top:5%;
    width: 20%;
    height: 20%;
}
a{
    text-decoration: none;
    color: white;
 }
.nav-bar{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    top: 5%;
}
.nav-items {  
    margin-top: 20%;  
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    width: 100%;  
}
.nav-link {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;

}
.sec-text{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.scroll{
    width: 40%;
    height: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2{
    width: 100vw;
    background-color: gainsboro;
}
.sec2-heading{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-images{
    width: 70%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
    margin-left: 5%;    
}
.sec2{
    display: flex;
    flex-direction: row;
}
.img-text{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    transform: translate(-200px,-20px);
}
.press-text{
    margin-bottom: 5%;
    margin-top: 10%;
    width: 70%;
}
.press-para{
    font-size: 15px;
    line-height: 2;
}
.sec2-indicators{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}
.indicator{
    border: 2px solid yellow;
}
.sec2-a{
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 50px;
}
.arrow-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-device-width:1000px){
    .sec2-images{
        width: 1300px;
    }
    .img-text{
        transform: translate(-200px,50px);
        width: 1000px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        margin-top: 5%;
        margin-bottom: 5%;        
    }   
}
@media only screen and (max-device-width:800px){
    .section2{
        width: 770px;
    }
    .sec2-images{
        width: 4000px;
    }
    .img-text{
        transform: translate(-200px,-10px);
        width: 3500px;
        height: 600px;
    }
}